<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	
	<select id="findByBoardDetail" parameterType="Integer" resultType="Board">
	    SELECT 
	        b.*, 
	        u.user_nick 
	    FROM 
	        board b
	    INNER JOIN 
	        user u 
	    ON 
	        b.user_idx = u.user_idx
	    WHERE 
	        b.board_idx = #{board_idx}
	    AND 
	        b.del_ny = 'n'
	</select>
	
	<select id="findByBoardPage" parameterType="HashMap" resultType="Board">
	    SELECT 
	        b.*, 
	        u.user_nick 
	    FROM 
	        board b
	    INNER JOIN 
	        user u 
	    ON 
	        b.user_idx = u.user_idx
	    WHERE 
	        b.del_ny = #{delNy} 
	    ORDER BY 
	        ${orderBy}
	    LIMIT 
	        #{start}, #{count}
	</select>
	
	<update id="deleteBoard" parameterType="Board">
		UPDATE board
		SET
			del_ny=#{del_ny}
		WHERE
			board_idx=#{board_idx}
	</update>
	
	<select id="findByIdx" parameterType="Integer" resultType="Board">
		SELECT * FROM board
		WHERE board_idx=#{board_idx} AND del_ny='n'
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE board
		SET
			board_title=#{board_title},
			board_content=#{board_content},
			modified_date = SYSDATE()
		WHERE
			board_idx=#{board_idx}
		AND
			del_ny='n'
	</update>
	
	<insert id="save" parameterType="Board">
		insert into `board`
		(
			user_idx,
			board_title,
			board_content,
			created_date,
			modified_date
		)
		values
		(
			#{user_idx},
			#{board_title},
			#{board_content},
			SYSDATE(),
			SYSDATE()
		)
	</insert>

</mapper>